<h1>Editing article tag</h1>

<%= render "form", article_tag: @article_tag %>

<br>

<div>
  <%= link_to "Show this article tag", @article_tag %> |
  <%= link_to "Back to article tags", article_tags_path %>
</div>
